.aboutPage{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    /* background-color: rgb(36, 32, 41); */
}

.pageHeader{
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 10vh;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 4px;
    /* color: rgb(166, 103, 189); */
}

.contentSess1{
    display: flex;
    gap: 5vh;
    height: 50%;
}

.contentSess2{
    display: flex;
    text-align: justify;
    justify-content: center;
}

.pageContent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
    gap: 2.5vh;
}

.column{
    position: relative;
    height: 100%;
    width: 50%;
}

.imageFrame{
    width: 272px;
    height: 272px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
}

.photo{
    display: flex;
    justify-content: end;
}

.photo img{
    width: 262px;
    height: 262px;
    border-radius: 50%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutSess{
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.aboutHeader{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(163, 199, 116);
    text-transform: uppercase;
}

.platformLinks{
    display: flex;
    justify-content: start;
    gap: 4px;
}
.contentText{
    width: 40%;
}