.gallery{
    height: 90vh;
    display: inline-flex;
    scroll-behavior: smooth;
}

.art{
    object-fit: cover;
    height: 100%;
    width: 263px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

/* .art:hover{
    transform: scale(0.97);
} */

.galleryWrapper{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 4px;
    margin-inline: 8px;
}