.gallery{
    height: 90vh;
    display: inline-flex;
    scroll-behavior: smooth;
    justify-content: center;
    /* place-items: center; */
}

.art{
    object-fit: cover;
    height: 100%;
    width: 256px;
    padding-inline: 2px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.art:hover{
    transform: scale(0.97);
}

.galleryWrapper{
    position: relative;
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    margin-inline: 8px;
    justify-content: center;
}