@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.logoImg {
    width: 48px;
    height: 48px;
}

.logo{
    padding: 2px;
}

.logoSess{
    display: flex;
    place-items: center;
    width: 20%;
}

.menu{
    padding-inline-end: 32px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
}

.menuSess{
    display: flex;
    place-items: center;
    width: 80%;
    padding: 20px;
}

li{
    list-style: none;
}