.logoImg {
    width: 48px;
    height: 48px;
}

.logo{
    padding: 2px;
}

.logoSess{
    display: flex;
    place-items: center;
    width: 20%;
}

.menu{
    padding-inline-end: 32px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
}

.menuSess{
    display: flex;
    place-items: center;
    width: 80%;
    padding: 20px;
}

li{
    list-style: none;
}

.menu>a{
    position: relative;
    display: inline-block;
}

.menu>a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.menu>a:hover::before {
    width: 100%;
    left: 0;
}