@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

body{
  background: rgb(15,15,36);
  background: linear-gradient(164deg, rgba(15,15,36,1) 0%, rgba(26,40,18,1) 100%);
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

nav{
  position: sticky;
  top: 0px;
  display: flex;
  justify-self: baseline;
  height: 10vh;
  backdrop-filter: blur(30px);
  background-color: rgba(20, 20, 24, 0.423);
  z-index: 999;
}

main{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}